<h1>カートの中身だよ</h1>

<table>
    <thead>
        <th>名前</th>
        <th>説明</th>
        <th>単価(税込)</th>
        <th>id</th>
    </thead>
    <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
            <td><%= cart_item.name %></td>
            <td><%= cart_item.introduction %></td>
            <td><%= cart_item.price %>円</td>
            <td><%= cart_item.id %></td>
            <td><%= link_to "削除", public_cart_item_path(cart_item), method: :delete, class: "btn btn-sm btn-danger" %></td>
        </tr>
        <% end %>
        <h4><%= link_to "カートを空にする", destroy_all_public_cart_items_path, method: :delete %></h4>
    </tbody>
</table>
<h4>合計金額：<%= @cart_items.sum(:price) %>円</h4>