<!DOCTYPE html>
<html>
<head>
  <title>Admin - Meshiterro</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
      <% if admin_signed_in? %>
        <li>
          <%= link_to "管理者ログアウト", destroy_customer_session_path, method: :delete %>
        </li>
        <li>
          <%= link_to "顧客一覧", admin_dashboards_path %>
        </li>
        <li>
          <%= link_to "管理者向け商品一覧", admin_items_path %>
        </li>
        <li>
          <%= link_to "新規商品登録", new_admin_item_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "管理者新規登録", new_customer_registration_path %>
        </li>
        <li>
          <%= link_to "管理者ログイン", new_customer_session_path %>
        </li>
      <% end %>
  <%= yield %>
</body>
</html>